    .video__iframes {
        position: absolute;
        top: 200px;
        right: auto;
        margin-top: 50px;
    }
    
    .video__iframes iframe:nth-child(2) {
        margin-left: 20px;
    }